/* CSS Variables */
:root {
  --color-main: #43a047;
  --color-dark: #00701a;
  --color-light: #76d275;
  --color-lighter: hsl(119, 51%, 85%);
  --color-selected: hsl(203, 51%, 85%);
  --color-warning: #940e00;
  --color-warning-light: #cb5855;

  --margin-section-content: 0.5rem;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: calc(100vh + 3rem);
  /* overflow: hidden; */
  font-family: 'Work Sans', sans-serif;
}

main,
nav {
  overflow: auto;
}

main {
  flex: 1 1 80%;
  margin: 0.5rem;
  padding-bottom: 4rem;
  border: 1px solid black;
  border-radius: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: var(--color-dark);
  color: white;
  font-weight: bold;
}

code {
  font-size: 1rem;
}

h1 {
  font-weight: bolder;
}

h2 {
  margin: 0.5rem 0;
}

.PageHeader {
  padding: 1rem;
  border-bottom: 1px solid black;
  height: 12vh;
}

.PageHeader h1 {
  margin-top: 0.5rem;
}

.Nav {
  flex: 1 1 20%;
  margin: 0.5rem;
  background: linear-gradient(to top, white, var(--color-lighter));
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.Nav a {
  text-decoration: none;
}

.Nav a:hover {
  text-decoration: underline;
}

.Nav h3 {
  color: black;
}

.Nav h4 {
  color: var(--color-dark);
}

.Nav ul {
  margin-top: 0;
  list-style: none;
  padding-left: 1rem;
}

.Nav__Wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Nav__Header {
  margin: 0;
  color: var(--color-dark);
}

.LayoutWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.MainSection__Header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 1rem;
  height: 6rem;
  background-color: var(--color-dark);
  color: white;
}

.MainSection > :not(.MainSection__Header) {
  padding: 0.5rem 1rem;
}

.MainSection > :last-child {
  padding-bottom: 1.5rem;
}

section > section > :not(header) {
  margin-left: var(--margin-section-content);
}

.EndpointSection__Endpoint {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  height: 3rem;
}

[class^='EndpointSection__HttpMethod'] {
  display: flex;
  padding: 0 0.5rem;
  height: 100%;
  width: 4rem;
  background-color: #303030;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.EndpointSection__HttpMethod--get {
  color: greenyellow;
}

.EndpointSection__HttpMethod--post {
  color: white;
}

.EndpointSection__HttpMethod--put,
.EndpointSection__HttpMethod--patch {
  color: yellow;
}

.EndpointSection__HttpMethod--delete {
  color: rgb(255, 61, 61);
}

.EndpointSection__URL {
  display: flex;
  align-items: center;
  padding: 1rem;
  flex: 1 1 auto;
  background-color: lightgray;
}

.EndpointSection__ProtectedEndpoint {
  font-weight: bold;
  color: var(--color-warning);
}

.EndpointSection__Details {
  margin: 1rem 0;
}

.EndpointSection__OptionsList {
  padding-left: 1rem;
  list-style: none;
}

.EndpointSection__Option {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.EndpointSection__OptionName {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bolder;
}

.EndpointSection__OptionDescription {
  margin: 0;
}

.EndpointSection__Required {
  flex: 1 1 100%;
  margin: 0.5rem 0;
  color: var(--color-warning);
  font-weight: bolder;
}

.EndpointSection__SubTypeDetails ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
}

.EndpointSection__SubTypeDetails summary {
  font-weight: bolder;
}

.EndpointSection__Responses > ul {
  margin-left: 1.5rem;
}

.EndpointSection__Responses ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ConfigSection__Environment {
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --margin-section-content: 1rem;
  }

  .LayoutWrapper {
    flex-direction: row;
  }

  main {
    margin: 0;
    border: none;
    border-radius: 0;
  }

  .Nav {
    margin: 0;
    border-right: 1px solid black;
    background: none;
    border-radius: 0;
  }
}
