extends baseEmail 

block content 
  p Hi #{name},
  p Your booking has been processed! If you have any further questions about the event, don't hesitate to contact the organizer directly. If you have any questions about your booking or payment, please contact us.
  p Your tickets will be emailed to you shortly.
  p Thank you for your order, and we hope you enjoy the event!
  p - The Transpyr Team