extends baseEmail 

block content 
  p Hi #{name},
  p The refund request for your booking for the event #{event} has been accepted by the event organizer.
  p The booking is no longer active, and the account you paid with will be credited in 1-3 business days.  
  p Thank you for using our service!
  p - The Transpyr Team
  