extends baseEmail 

block content 
  p Hi #{name},
  p The refund request for your booking for the event #{event} has been denied.
  p This decision was made by the organizer, and should be adhering to the refund policy specified when you purchased the ticket. If you feel the request was denied incorrectly, or the refund policy violates Transpyr's Terms and Conditions, feel free to contact us. 
  p We apologize for the inconvenience, and thank you for using our service. 
  p - The Transpyr Team
  