extends baseEmail 

block content 
  p Hi #{name},
  p A request was made to reset the password for the account associated with your email address. To reset your password, click here:
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p This link is valid for 10 minutes. If you didn't make a request to reset your password, ignore this message.